## -----------------------------------
#   robust python pip requirements 
## -----------------------------------

##
#-e .[docs,test]

PyYAML
argparse
pathtools
urllib3
requests==2.7.0
watchdog==0.8.3
